{% block title %}{% endblock %}

{% block body %}
	<!DOCTYPE html>
	<html
		lang="en">

		<!-- Mirrored from doccure.dreamguystech.com/html/template/login.html by HTTrack Website Copier/3.x [XR&CO'2014], Wed, 08 Feb 2023 11:42:01 GMT -->
		<head>
			<meta charset="utf-8">
			<title>Doccure</title>
			<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0">
			<link href="{{ asset('admin/assets/img/logo_small.png') }}" rel="icon">
			<link rel="stylesheet" href="{{ asset('admin/assets/css/owl.carousel.min.css') }}">
			<link rel="stylesheet" href="{{ asset('login/assets/css/bootstrap.min.css') }}">
			<link rel="stylesheet" href="{{ asset('login/assets/plugins/fontawesome/css/fontawesome.min.css') }}">
			<link rel="stylesheet" href="{{ asset('login/assets/plugins/fontawesome/css/all.min.css') }}">
			<link rel="stylesheet" href="{{ asset('login/assets/css/feather.css') }}">
			<link rel="stylesheet" href="{{ asset('login/assets/css/style.css') }}">
		</head>
		<body class="account-page">

			<div class="onboard-wrapper">
				<div class="left-panel">
					<div class="onboarding-logo text-center">
						<h1 style="color:white">DAWINI</h1>
					</div>
					<div class="onboard-img">
						<img src="{{ asset('login/assets/img/onboard-img/onb-slide-img.png')}}" class="img-fluid" alt="">
					</div>
					<div class="onboarding-slider">

						<div id="onboard-slider" class="owl-carousel owl-theme onboard-slider slider">

							<div class="onboard-item text-center">
								<div class="onboard-content">
									<h3>Welcome to Dawini</h3>
									<p>
										Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
																																																																						incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.
									</p>
								</div>
							</div>


						</div>

					</div>
				</div>
				<div class="right-panel">
					<div class="container">
						<div class="row">
							<div class="col-lg-12 p-0">
								<div class="right-panel-title text-center">
									<a href="index.html">
										<img src="assets/img/onboard-img/onb-logo.png" alt=""></a>
								</div>
							</div>
							<div class="col-lg-4 col-md-12">
								<div class="on-board-wizard">
									<ul>
										<li><a href="{{ path('app_register_medecin') }}"><div class="onboarding-progress active"><span>1</span></div><div class="onboarding-list"><h6>Registration</h6><p>Enter Details for Register</p></div></a></li>
										<li><a href="{{ path('app_register_identify') }}"><div class="onboarding-progress active"><span>2</span></div><div class="onboarding-list"><h6>Upload Identity</h6><p>Upload your Identity for Verification</p></div></a></li>
										<li><a href="{{ path('app_register_personnel') }}"><div class="onboarding-progress active"><span>3</span></div><div class="onboarding-list"><h6>Personal Details</h6><p>Enter your Personal Details</p></div></a></li>
										<li><a href="{{ path('app_register_verif') }}"><div class="onboarding-progress"><span>4</span></div><div class="onboarding-list"><h6>Doctor Verification</h6><p>Upload Documents for the Verification</p></div></a></li>
										
									</ul>
								</div>
							</div>
							<div class="col-lg-8 col-md-12">
								<div class="onboarding-content-box">
									<div class="onboarding-title profile-title">
										<h2>Personalize Your Profile
											<span>*</span>
										</h2>
									</div>
									<div class="onboarding-content passcode-wrap mail-box">
										<div class="row">
											<div class="col-lg-12">
												<div class="form-group">
													<div class="upload-pic">
														<img src="assets/img/icons/up-img-1.svg" alt="img" id="blah">
														<h6>Upload Photo</h6>
														<div class="upload-pics">
															<a class="btn-profile"><img src="assets/img/icons/edit.svg" alt=""></a>
															<input type="file" id="imgInp">
														</div>
													</div>
												</div>
												<div class="form-group">
													<div class="photo-norms">
														<h5>Logo Should be minimum 152 * 152 Supported File format JPG,PNG,SVG
														</h5>
													</div>
												</div>
											</div>
											<div class="col-lg-12">
												<div class="form-group">
													<label class="onboarding-lable">Legal Name
														<span>*</span>
													</label>
													<input type="text" placeholder="Enter Name" class="form-control placeholder-style" required="">
												</div>
											</div>
											<div class="col-lg-6">
												<div class="form-group">
													<label class="onboarding-lable">Gender
														<span>*</span>
													</label>
													<select class="select">
														<option disabled selected>Select Gender</option>
														<option>male</option>
														<option>female</option>
													</select>
												</div>
											</div>
											<div class="col-lg-6">
												<div class="form-group">
													<label class="onboarding-lable">Date of Birth
														<span>*</span>
													</label>
													<input type="text" placeholder="DD/MM/YYYY" class="form-control placeholder-style datetimepicker" required="">
												</div>
											</div>
											<div class="col-lg-12">
												<div class="form-group">
													<label class="onboarding-lable">Address<span>*</span>
													</label>
													<input type="text" placeholder="Enter Address" class="form-control placeholder-style" required="">
												</div>
											</div>
											<div class="col-lg-6">
												<div class="form-group">
													<label class="onboarding-lable">City
														<span>*</span>
													</label>
													<input type="text" placeholder="Enter City" class="placeholder-style form-control" required="">
												</div>
											</div>
											<div class="col-lg-6">
												<div class="form-group">
													<label class="onboarding-lable">State<span>*</span>
													</label>
													<select class="select">
														<option disabled selected>Select State</option>
														<option>Washington</option>
														<option>Florida</option>
														<option>Alaska</option>
													</select>
												</div>
											</div>
											<div class="col-lg-12">
												<div class="form-group">
													<label class="onboarding-lable">About you
														<span>*</span>
													</label>
													<textarea></textarea>
												</div>
											</div>
										</div>
										<div class="onboarding-btn Personalize-btn">
											<a href="{{ path('app_register_verif') }}">Continue</a>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</body>


		<script data-cfasync="false" src="https://doccure.dreamguystech.com/cdn-cgi/scripts/5c5dd728/cloudflare-static/email-decode.min.js"></script>
		<script src="{{asset('login/assets/js/jquery-3.6.0.min.js') }}"></script>
		<script src="{{ asset('login/assets/js/bootstrap.bundle.min.js') }}"></script>
		<script src="{{ asset('login/assets/js/feather.min.js') }}"></script>
		<script src="{{ asset('login/assets/js/script.js') }}"></script>


		<script src="{{ asset('login/assets/js/owl.carousel.min.js')}}"></script>


	</html>
{% endblock %}

