{% extends 'basedashboard.html.twig' %}

{% block title %}Consultation{% endblock %}

{% block content %}
    <div class="col-md-7 col-lg-8 col-xl-9">
        <div class="text-end">
            <a href="{{ path('app_consultation_index') }}" class="add-new-btn">
                <font style="vertical-align: inherit;">
                    <font style="vertical-align: inherit;">
                        Retour


                    </font>
                </font>
            </a>
        </div>
        <div class="appointments">

            <div class="appointment-list">
                <div class="profile-info-widget">

                    <div class="profile-det-info">
                        <h3><a href="patient-profile.html"><font style="vertical-align: inherit;"><font
                                            style="vertical-align: inherit;">{{ consulation.patients.nomComplet|title }}</font></font></a></h3>
                        <div class="patient-details">
                            <h5><i class="far fa-clock"></i><font style="vertical-align: inherit;"><font
                                            style="vertical-align: inherit;">Date consultation:</br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{ consulation.date|date('d-m-Y') }}</font></font>
                            </h5>
                            <h5><i class="far fa-clock"></i><font style="vertical-align: inherit;"><font
                                            style="vertical-align: inherit;">Heure debut consultation:</br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{ consulation.heuredebut|date() }}</font></font>
                            </h5>
                            <h5><i class="far fa-clock"></i><font style="vertical-align: inherit;"><font
                                            style="vertical-align: inherit;">Heure fin consultation:</br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{ consulation.heurefin|date() }}</font></font>
                            </h5>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}