{% extends 'base.html.twig' %}

{% block title %}Dossier index{% endblock %}

{% block body %}
    <h1>Dossier index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Numero</th>
                <th>Code_APCI</th>
                <th>Description</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for dossier in dossiers %}
            <tr>
                <td>{{ dossier.id }}</td>
                <td>{{ dossier.numero }}</td>
                <td>{{ dossier.codeAPCI }}</td>
                <td>{{ dossier.description }}</td>
                <td>
                    <a href="{{ path('app_dossier_show', {'id': dossier.id}) }}">show</a>
                    <a href="{{ path('app_dossier_edit', {'id': dossier.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_dossier_new') }}">Create new</a>
{% endblock %}